@model WebWine.Models.Ruou

@{
    ViewBag.Title = "XoaRuou";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url('../../images/bg-img/37.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="page-title">Quản lý thông tin các loại rượu</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Ruou", "Admin")">Quản lý thông tin</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("XoaRuou", "Admin")">Xóa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Xóa sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<section class="our-schedule-area bg-white section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p style="font-family:Arial; color:black">Xác nhận xóa</p>
                    <h4 style="font-family:Arial; color:black">RƯỢU @Model.Ruou1</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table style="width:1140px; margin-left:-15px" class="table table-striped custab table-bordered">
                    <tbody>
                        @Html.ValidationSummary(true)
                        <tr>
                            <td style="font-weight:bold; width:200px">Loại rượu</td>
                            <td>@Html.DisplayFor(model => model.LoaiRuou.LoaiRuou1)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Tên rượu</td>
                            <td>@Html.DisplayFor(model => model.Ruou1)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Ảnh bìa</td>
                            <td><img style="width:300px; height:400px" src="@Url.Content("~/images/bg-img/" + Model.Anhbia)" /></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Ảnh chi tiết 1</td>
                            <td><img style="width:300px; height:400px" src="@Url.Content("~/images/bg-img/" + Model.Anh1)" /></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Ảnh chi tiết 2</td>
                            <td><img style="width:300px; height:400px" src="@Url.Content("~/images/bg-img/" + Model.Anh2)" /></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px; text-align:justify">Mô tả</td>
                            <td>@Html.DisplayFor(model => model.Mota)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Hương liệu</td>
                            <td>@Html.DisplayFor(model => model.HuongLieu.TenHL)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Năm sản xuất</td>
                            <td>@Html.DisplayFor(model => model.NamSX)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Nhà sản xuất</td>
                            <td>@Html.DisplayFor(model => model.NhaSanXuat.TenNSX)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Cấp độ</td>
                            <td>@Html.DisplayFor(model => model.CapDo.Capdo1)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Nồng độ</td>
                            <td>@Html.DisplayFor(model => model.Nongdo) %</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Dung tích</td>
                            <td>@Html.DisplayFor(model => model.Dungtich) ml</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Ngày cập nhật</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Số lượng</td>
                            <td>@Html.DisplayFor(model => model.Soluong) chai</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width:200px">Giá bán</td>
                            <td>@String.Format("{0:0,0}", Model.Giaban) VND</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa" class="btn btn-danger" onclick="onDelete" /> |
                        @Html.ActionLink("Về trang quản lý rượu", "Ruou", null, new { @class = "btn btn-danger" })
                    </div>
                }
            </div>

            <script>
                function onDelete() {
                    alert("Bằng việc xác nhận, bạn sẽ tiến hành xóa mặt hàng này");
                    let pass = prompt("Nhập \"Xác nhận\" để tiến hành xóa");
                    if (pass == "Xác nhận") {
                        location.href = '/Admin/XoaRuou/@Model.MaSP';
                    }
                    else {
                        alert("Xác thực lỗi");
                    }
                }
            </script>
        </div>
    </div>
</section>
